@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    margin: 0;
    padding: 0;
}

div#loding {
    width: 100vw;
    height: 100vh;
    background: #1b3023;
    top: 0;
    left: 0;
    z-index: 9999;
}

div#loding ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex
}

div#loding ul li {
    list-style: none;
    color: #2e2c2c;
    font-family: arial;
    font-size: 5em;
    animation: animate 1.4s linear infinite;
    font-family: 'Pacifico', cursive;
}

@keyframes animate {
    0% {
        color: #232423;
        text-shadow: none
    }
    90% {
        color: #3a413b;
        text-shadow: none
    }
    100% {
        color: #e9a668;
        text-shadow: 0 0 7px #e9a668, 0 0 50px #e9a668
    }
}

div#loding ul li:nth-child(1) {
    animation-delay: 0.2s
}

div#loding ul li:nth-child(2) {
    animation-delay: 0.4s
}

div#loding ul li:nth-child(3) {
    animation-delay: 0.6s
}

div#loding ul li:nth-child(4) {
    animation-delay: 0.8s
}

div#loding ul li:nth-child(5) {
    animation-delay: 1s
}

div#loding ul li:nth-child(6) {
    animation-delay: 1.2s
}

div#loding ul li:last-child {
    animation-delay: 1.4s
}

.loaded {
    opacity: 0;
    display: none;
    pointer-events: none;
}

.hidden {
    display: none;
}